/* Tooltip.css */

.tooltip {
  width: fit-content;
  gap: 6px;
}

.tooltip-hoverBox {
  position: absolute;
  max-width: 400px;
  word-wrap: break-word;
  box-shadow: var(--shadow-s);
  background-color: var(--neutral-6);
  padding: 8px 12px;
  border: 1px solid var(--neutral-3);
  right: -2px;
  top: 4px;
  transform: translate(100%, 0%);
  opacity: 0;
  transition: opacity .15s;
  z-index: 89;
  pointer-events: none;
  color: var(--neutral-1);
}

.active.tooltip-hoverBox {
  opacity: .9;
}

.tooltip>* {
  white-space: nowrap;
}

.out-of-view-horizontal {
  transform: translate(0%, 0%);
  right: 18px;
}