.analytics {
    max-width: 2000px;
    width: 100%;
    align-items: flex-start !important; 
    margin: 0;
}
.analytics > .column {
    width: 100%;
    gap: 32px;
}

.analytics-stat,
.analytics-graph {
    padding: 32px;
    border: 1px solid var(--neutral-3);
    border-radius: var(--border-radius-l);
    gap: 16px;

}

.analytics-graph {
    align-items: center;
}
.analytics-graph > img {
    width: 100%;
}