.dashboard {
    width: 100%;
    align-items: flex-start !important;
    margin: 0;
    gap: 16px !important;
}

.dashboard-graph {
    padding: 24px;
    border: 1px solid var(--neutral-3);
    border-radius: var(--border-radius-l);
    gap: 16px;

}

.dashboard-graph {
    align-items: center;
}

.dashboard-graph>img {
    width: 100%;
}

.dashboard-graphs {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 16px;
}

.data-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.data-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    width: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.data-card h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.data-card p {
    margin: 0;
}