.jobManagement-search {
    gap: 24px;
    justify-content: flex-start !important;
    align-items: flex-end !important;
}

.jobManagement-search>.column {
    gap: 12px;
}

.jobManagement-stats {
    border: 1px solid var(--neutral-3);
    padding: 32px;
    gap: 16px;
}


.dashboard-overviewStat>.green {
    color: #168535;
}

.dashboard-overviewStat>.red {
    color: #b92b1e;
}

.dashboard-overviewStat>.grey {
    color: grey;
}